<?xml version="1.0" encoding="utf-8"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>
   <system.webServer>
      <staticContent>
          <mimeMap fileExtension=".obj" mimeType="application/obj" />
            <mimeMap fileExtension=".3ds" mimeType="application/3ds" />
      </staticContent>
    </system.webServer>
</configuration>
